absl-py
asgiref
attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
Django
djangorestframework
filelock
Flask
flatbuffers
fonttools
fsspec
idna
itsdangerous
jax
jaxlib
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml_dtypes
mpmath
networkx
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
polars
polars-runtime-32
protobuf
psutil
pycparser
pynput
pyparsing
python-dateutil
PyYAML
requests
scipy
sentencepiece
setuptools
six
sounddevice
sqlparse
sympy
torch
torchvision
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
Werkzeug
gunicorn



